@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

* {
	margin: 0;
	padding: 0;
}

.page {
	width: 1440px;

}

.header{

	background-color: #fe1a19;
}

.header-container {
	height: 60px;
	width: 1400px;
	padding: 0 20px
}

.text {
	color: #fff;
	font-size: 20px;
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	line-height: 60px;
}

.main {
	height: 904px;
	position: relative;
}

.main-container {
	left: 47px;
	top: 52px;
	position: absolute;
}


.main-one, .main-two, .main-three {
	width: 400px;
	height: 800px;
	border: 5px solid #e5e000;
	border-radius: 30px;
	box-sizing: border-box;
	display: inline-block;
	margin: 0 23px;
	
}


.main-one-container, .main-two-container, .main-three-container {
	padding: 28px;
}

.headline {
	font-size: 20px; 
	font-weight: bold;
	padding-bottom: 28px;

}
.first-part, .second-part, .third-part, .fourth-part {
	padding-top: 27px;
	font-size: 20px;
	list-style: none;
}

.footer {	
	height: 60px;
	background-color: #fe1a19;
	
}

.footer-container {
	height: 20px;
	width: 1400px;	
	padding: 20px;
}

.footer-left {
	color: #fff;
	font-size: 20px;
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	line-height: 20px;
	float: left;
}

.footer-right {
	color: #fff;
	font-size: 20px;
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	text-decoration: none;
	line-height: 20px;
	float: right;
}
